<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bu home page hisoblanadi!</h1>
    <a href="/api/home/">home</a>
    <a href="/api/krosovka-api/">krosovka-api</a>
    <a href="/api/Cars/">Cars</a>
    <a href="/api/krosovka-api/">krosovka-api</a>
    <a href="/api/cars-api/">cars-api</a>
    <a href="/api/create/">create</a>
    <a href="/api/update/">update</a>
    <a href="/api/delete/">delete</a>
    <a href="/api/filter-bazm/">filter-bazm</a>
    <a href="/api/search/">search</a>
    <a href="/api/filter-sport/">filter-sport</a>
    
</body>
</html>